.imagen-fija {
  background-repeat: no-repeat;
}

.rotacion-estrella {
  transform: rotate(-10deg);
}

.imagenLogo {
  overflow: true;
}

.position-header {
  position: absolute;
  right: 0%;
  top: 0%;
}

.fondo {
  overflow: hidden;
}
