<div class="fixed left-0 tamanio">
  <div class="flex flex-row justify-between">
    <div>
      <div class="position-logo mx-3 w-96">
        <img
          class="pb-5 pt-2 opacity-100 hover:opacity-0 absolute"
          src="../../assets/img/LogoPrincipal.png"
          width="200px"
        />
        <img
          class="pb-5 pt-2 opacity-0 hover:opacity-100 absolute"
          src="../../assets/img/LogoPricipalColorfull.png"
          width="200px"
        />
      </div>
    </div>
    <div>
      <div
        class="
          font-fuentePrincipal font-medium
          invisible
          md:visible
          absolute
          right-0
          text-white
          mt-3
          ml-3
          text-4xl
        "
      >
        <nav class="flex-1">
          <ul class="flex flex-row justify-end">
            <li class="item-header">
              <a href="#">INICIO</a>
            </li>
            <li class="item-header">
              <a href="#">PROYECTOS</a>
            </li>
            <li class="item-header">
              <a href="#">ESTUDIOS</a>
            </li>
            <li class="item-header">
              <a href="#">CERTIFICACIONES</a>
            </li>
          </ul>
        </nav>
      </div>
      <div
        class="
          absolute
          right-0
          mr-3
          text-5xl text-white
          visible
          md:invisible
          xl:invisible
          animate-pulse
        "
      >
        &equiv;
      </div>
    </div>
  </div>
</div>
