<div class="fixed left-0 tamanio">
  <div class="flex flex-row justify-between">
    <div>
      <div class="position-logo mx-3 w-80">
        <img
          class="pb-5 pt-2 opacity-100 hover:opacity-0 absolute"
          src="../../assets/img/LogoPrincipal.png"
          width="150px"
        />
        <img
          class="pb-5 pt-2 opacity-0 hover:opacity-100 absolute"
          src="../../assets/img/LogoPricipalColorfull.png"
          width="150px"
        />
      </div>
    </div>

    <div>
      <div
        class="
          mr-3
          text-5xl text-white
          visible
          md:invisible
          xl:invisible
          animate-pulse
        "
      >
        &equiv;
      </div>
    </div>
  </div>
</div>
