<div
  id="about"
  class="
    bg-fondo-espacio
    fondo
    animate-bg-fondo-espacio
    bg-contain
    overflow-auto
    h-screen
  "
  (scroll)="onScroll($event)"
>
  <div class="container">
    <app-header></app-header>
  </div>
  <div class="mt-28 mx-10">
    <div class="flex flex-col justify-center items-center">
      <div class="flex flex-row lg:items-start items-center">
        <h1
          id="nombre"
          class="
            text-white text-5xl
            md:text-7xl
            lg:text-8xl
            xl:text-9xl
            font-bold
          "
        >
          DANIEL&nbsp;
        </h1>
        <h1
          class="
            text-5xl
            md:text-7xl
            lg:text-8xl
            xl:text-9xl
            font-bold
            text-yellow-400
          "
        >
          TAPIA
        </h1>
      </div>
      <div class="flex flex-row mt-8 text-xs md:text-xl lg:text-2xl">
        <nav class="flex-1">
          <ul class="flex flex-row justify-end">
            <li class="item-header">
              <a (click)="GoToDiv('front')">PERFIL</a>
            </li>
            <li class="item-header">
              <a (click)="GoToDiv('back')">EDUCACION</a>
            </li>
            <li class="item-header">
              <a (click)="GoToDiv('fact')">CERTIFICACIONES</a>
            </li>
            <li class="item-header">
              <a (click)="GoToDiv('demo')">EXPERIENCIA</a>
            </li>
          </ul>
        </nav>
      </div>

      <h1
        id="perfil"
        class="
          text-5xl
          pt-10
          text-fuchsia
          font-medium
          md:text-6xl
          lg:text-8xl
          animate-pulse
        "
      >
        PERFIL
      </h1>
      <h3
        class="
          text-gray-500
          pt-5
          text-base
          md:text-base
          lg:text-xl
          text-justify
        "
      >
        Soy estudiante de la Universidad Técnica de Ambato actualmente cursando
        9no semestre de la carrera de Ingeniería en Sistemas Computacionales e
        Informáticos (fecha de egreso: 20 de agosto de 2021) entre mis
        cualidades se destaca los conocimientos en javascript y el manejo de
        frameworks de actualidad como Angular o Flutter, además de esto también
        conozco acerca de buenas prácticas de programación por cursos realizados
        en la Universidad Politécnica Nacional, donde se exploraron distintas
        vulnerabilidades que dejan los programadores al desarrollar sistemas.
      </h3>
      <div class="flex flex-col w-full md:flex-row mt-4">
        <div class="flex flex-col w-full md:w-1/2">
          <div class="flex flex-row">
            <h2 class="text-fuchsia">Edad:&nbsp;</h2>
            <h2 class="text-gray-500">26 años</h2>
          </div>
          <div class="flex flex-row">
            <h2 class="text-fuchsia">Ciudad actual:&nbsp;</h2>
            <h2 class="text-gray-500">Latacunga - Ecuador</h2>
          </div>
          <div class="flex flex-row">
            <h2 class="text-fuchsia">Nacionalidad:&nbsp;</h2>
            <h2 class="text-gray-500">Ecuatoriano</h2>
          </div>
          <div class="flex flex-row">
            <h2 class="text-fuchsia">Hobbies:&nbsp;</h2>
            <h2 class="text-gray-500">
              Aprender en cursos online y crear aplicaciones moviles
            </h2>
          </div>
        </div>
        <div class="flex flex-col w-full md:w-1/2 md:ml-2">
          <div class="flex flex-row">
            <h2 class="text-fuchsia">Teléfono:&nbsp;</h2>
            <h2 class="text-gray-500">0987408783</h2>
          </div>
          <div class="flex flex-row">
            <h2 class="text-fuchsia">Correo:&nbsp;</h2>
            <h2 class="text-gray-500">d.tapialopez1@gmail.com</h2>
          </div>
          <div class="flex flex-row">
            <h2 class="text-fuchsia">Idiomas:&nbsp;</h2>
            <h2 class="text-gray-500">Ingles-Español</h2>
          </div>
          <div class="flex flex-row">
            <h2 class="text-fuchsia">Teléfono:&nbsp;</h2>
            <h2 class="text-gray-500">0987408783</h2>
          </div>
        </div>
      </div>
      <h1 class="text-fuchsia text-3xl md:text-4xl lg:text-6xl mt-10">
        Competencias
      </h1>
      <div class="flex flex-col w-full mt-10 md:flex-row">
        <div class="flex flex-col w-full md:w-1/2">
          <div class="flex flex-row w-full">
            <img src="assets/img/typescript_logo.png" class="w-16" alt="" />
            <div
              class="
                flex flex-col
                w-full
                md:w-4/5
                pl-4
                items-start
                justify-around
              "
            >
              <div class="flex flex-row justify-between w-full">
                <p class="text-white">Typescript</p>

                <p class="text-fuchsia font-bold">90%</p>
              </div>

              <div
                class="bg-white w-full h-3 border-none overflow-hidden"
                style="border-radius: 10px"
              >
                <div
                  class="
                    bg-gradient-to-r
                    from-purple-400
                    via-pink-500
                    to-red-500
                    border-none
                    invisible
                    pl-8
                    m-0
                    h-full
                    anim
                  "
                  style="border-radius: 10px; width: 90%"
                ></div>
              </div>
            </div>
          </div>
          <div class="flex flex-row mt-2">
            <img src="assets/img/javascript_logo.png" class="w-16" alt="" />
            <div
              class="
                flex flex-col
                w-full
                md:w-4/5
                pl-4
                items-start
                justify-around
              "
            >
              <div class="flex flex-row justify-between w-full">
                <p class="text-white">Javascript</p>

                <p class="text-fuchsia font-bold">90%</p>
              </div>
              <div
                class="bg-white w-full h-3 border-none overflow-hidden"
                style="border-radius: 10px"
              >
                <div
                  class="
                    bg-gradient-to-r
                    from-purple-400
                    via-pink-500
                    to-red-500
                    border-none
                    invisible
                    pl-8
                    m-0
                    h-full
                    anim
                  "
                  style="border-radius: 10px; width: 90%"
                ></div>
              </div>
            </div>
          </div>
          <div class="flex flex-row mt-2">
            <img src="assets/img/angular_logo.png" class="w-16" alt="" />
            <div
              class="
                flex flex-col
                w-full
                md:w-4/5
                pl-4
                items-start
                justify-around
              "
            >
              <div class="flex flex-row justify-between w-full">
                <p class="text-white">Angular</p>

                <p class="text-fuchsia font-bold">95%</p>
              </div>

              <div
                class="bg-white w-full h-3 border-none overflow-hidden"
                style="border-radius: 10px"
              >
                <div
                  class="
                    bg-gradient-to-r
                    from-purple-400
                    via-pink-500
                    to-red-500
                    border-none
                    invisible
                    pl-8
                    m-0
                    h-full
                    anim
                  "
                  style="border-radius: 10px; width: 95%"
                ></div>
              </div>
            </div>
          </div>
          <div class="flex flex-row mt-2">
            <img src="assets/img/nodejs_logo.png" class="w-16" alt="" />
            <div
              class="
                flex flex-col
                w-full
                md:w-4/5
                pl-4
                items-start
                justify-around
              "
            >
              <div class="flex flex-row justify-between w-full">
                <p class="text-white">Node js</p>

                <p class="text-white font-bold">85%</p>
              </div>

              <div
                class="bg-white w-full h-3 border-none overflow-hidden"
                style="border-radius: 10px"
              >
                <div
                  class="
                    bg-gradient-to-r
                    from-purple-400
                    via-pink-500
                    to-red-500
                    border-none
                    invisible
                    pl-8
                    m-0
                    h-full
                    anim
                  "
                  style="border-radius: 10px; width: 85%"
                ></div>
              </div>
            </div>
          </div>
          <div class="flex flex-row mt-2">
            <img src="assets/img/csharp_logo.png" class="w-16" alt="" />
            <div
              class="
                flex flex-col
                w-full
                md:w-4/5
                pl-4
                items-start
                justify-around
              "
            >
              <div class="flex flex-row justify-between w-full">
                <p class="text-white">C#</p>

                <p class="text-white font-bold">80%</p>
              </div>

              <div
                class="bg-white w-full h-3 border-none overflow-hidden"
                style="border-radius: 10px"
              >
                <div
                  class="
                    bg-gradient-to-r
                    from-purple-400
                    via-pink-500
                    to-red-500
                    border-none
                    invisible
                    pl-8
                    m-0
                    h-full
                    anim
                  "
                  style="border-radius: 10px; width: 80%"
                ></div>
              </div>
            </div>
          </div>
          <div class="flex flex-row mt-2">
            <img src="assets/img/Photoshop-Logo2.png" class="w-16" alt="" />
            <div
              class="
                flex flex-col
                w-full
                md:w-4/5
                pl-4
                items-start
                justify-around
              "
            >
              <div class="flex flex-row justify-between w-full">
                <p class="text-white">Photoshop</p>

                <p class="text-white font-bold">60%</p>
              </div>

              <div
                class="bg-white w-full h-3 border-none overflow-hidden"
                style="border-radius: 10px"
              >
                <div
                  class="
                    bg-gradient-to-r
                    from-purple-400
                    via-pink-500
                    to-red-500
                    border-none
                    invisible
                    pl-8
                    m-0
                    h-full
                    anim
                  "
                  style="border-radius: 10px; width: 60%"
                ></div>
              </div>
            </div>
          </div>
          <div class="flex flex-row mt-2">
            <img src="assets/img/asp-logo2.png" class="w-16" alt="" />
            <div
              class="
                flex flex-col
                w-full
                md:w-4/5
                pl-4
                items-start
                justify-around
              "
            >
              <div class="flex flex-row justify-between w-full">
                <p class="text-white">Asp.net</p>

                <p class="text-white font-bold">70%</p>
              </div>

              <div
                class="bg-white w-full h-3 border-none overflow-hidden"
                style="border-radius: 10px"
              >
                <div
                  class="
                    bg-gradient-to-r
                    from-purple-400
                    via-pink-500
                    to-red-500
                    border-none
                    invisible
                    pl-8
                    m-0
                    h-full
                    anim
                  "
                  style="border-radius: 10px; width: 70%"
                ></div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-col w-full md:w-1/2">
          <div class="flex flex-row">
            <img
              src="assets/img/sqlserver_logo.png"
              class="w-16 my-2.5"
              alt=""
            />
            <div
              class="
                flex flex-col
                w-full
                md:w-4/5
                pl-4
                items-start
                justify-around
              "
            >
              <div class="flex flex-row justify-between w-full">
                <p class="text-white">Sql server</p>

                <p class="text-white font-bold">75%</p>
              </div>

              <div
                class="bg-white w-full h-3 border-none overflow-hidden"
                style="border-radius: 10px"
              >
                <div
                  class="
                    bg-gradient-to-r
                    from-purple-400
                    via-pink-500
                    to-red-500
                    border-none
                    invisible
                    pl-8
                    m-0
                    h-full
                    anim
                  "
                  style="border-radius: 10px; width: 75%"
                ></div>
              </div>
            </div>
          </div>
          <div class="flex flex-row mt-2">
            <img src="assets/img/mysql_logo.png" class="w-16" alt="" />
            <div
              class="
                flex flex-col
                w-full
                md:w-4/5
                pl-4
                items-start
                justify-around
              "
            >
              <div class="flex flex-row justify-between w-full">
                <p class="text-white">Mysql</p>

                <p class="text-white font-bold">85%</p>
              </div>

              <div
                class="bg-white w-full h-3 border-none overflow-hidden"
                style="border-radius: 10px"
              >
                <div
                  class="
                    bg-gradient-to-r
                    from-purple-400
                    via-pink-500
                    to-red-500
                    border-none
                    invisible
                    pl-8
                    m-0
                    h-full
                    anim
                  "
                  style="border-radius: 10px; width: 85%"
                ></div>
              </div>
            </div>
          </div>
          <div class="flex flex-row mt-2">
            <img src="assets/img/postgress_logo.png" class="w-16" alt="" />
            <div
              class="
                flex flex-col
                w-full
                md:w-4/5
                pl-4
                items-start
                justify-around
              "
            >
              <div class="flex flex-row justify-between w-full">
                <p class="text-white">Postgress</p>

                <p class="text-white font-bold">80%</p>
              </div>

              <div
                class="bg-white w-full h-3 border-none overflow-hidden"
                style="border-radius: 10px"
              >
                <div
                  class="
                    bg-gradient-to-r
                    from-purple-400
                    via-pink-500
                    to-red-500
                    border-none
                    invisible
                    pl-8
                    m-0
                    h-full
                    anim
                  "
                  style="border-radius: 10px; width: 80%"
                ></div>
              </div>
            </div>
          </div>
          <div class="flex flex-row mt-2">
            <img src="assets/img/dart_logo.png" class="w-16" alt="" />
            <div
              class="
                flex flex-col
                w-full
                md:w-4/5
                pl-4
                items-start
                justify-around
              "
            >
              <div class="flex flex-row justify-between w-full">
                <p class="text-white">Dart</p>

                <p class="text-white font-bold">60%</p>
              </div>

              <div
                class="bg-white w-full h-3 border-none overflow-hidden"
                style="border-radius: 10px"
              >
                <div
                  class="
                    bg-gradient-to-r
                    from-purple-400
                    via-pink-500
                    to-red-500
                    border-none
                    invisible
                    pl-8
                    m-0
                    h-full
                    anim
                  "
                  style="border-radius: 10px; width: 60%"
                ></div>
              </div>
            </div>
          </div>
          <div class="flex flex-row mt-2">
            <img src="assets/img/flutter_logo.png" class="w-16" alt="" />
            <div
              class="
                flex flex-col
                w-full
                md:w-4/5
                pl-4
                items-start
                justify-around
              "
            >
              <div class="flex flex-row justify-between w-full">
                <p class="text-white">Flutter</p>

                <p class="text-white font-bold">60%</p>
              </div>

              <div
                class="bg-white w-full h-3 border-none overflow-hidden"
                style="border-radius: 10px"
              >
                <div
                  class="
                    bg-gradient-to-r
                    from-purple-400
                    via-pink-500
                    to-red-500
                    border-none
                    invisible
                    pl-8
                    m-0
                    h-full
                    anim
                  "
                  style="border-radius: 10px; width: 60%"
                ></div>
              </div>
            </div>
          </div>
          <div class="flex flex-row mt-2">
            <img src="assets/img/Bootstrap-Logo3.png" class="w-16" alt="" />
            <div
              class="
                flex flex-col
                w-full
                md:w-4/5
                pl-4
                items-start
                justify-around
              "
            >
              <div class="flex flex-row justify-between w-full">
                <p class="text-white">Bootstrap</p>

                <p class="text-white font-bold">80%</p>
              </div>

              <div
                class="bg-white w-full h-3 border-none overflow-hidden"
                style="border-radius: 10px"
              >
                <div
                  class="
                    bg-gradient-to-r
                    from-purple-400
                    via-pink-500
                    to-red-500
                    border-none
                    invisible
                    pl-8
                    m-0
                    h-full
                    anim
                  "
                  style="border-radius: 10px; width: 80%"
                ></div>
              </div>
            </div>
          </div>
          <div class="flex flex-row mt-2">
            <img src="assets/img/tailwind-logo.png" class="w-16" alt="" />
            <div
              class="
                flex flex-col
                w-full
                md:w-4/5
                pl-4
                items-start
                justify-around
              "
            >
              <div class="flex flex-row justify-between w-full">
                <p class="text-white">Tailwind</p>

                <p class="text-white font-bold">85%</p>
              </div>

              <div
                class="bg-white w-full h-3 border-none overflow-hidden"
                style="border-radius: 10px"
              >
                <div
                  class="
                    bg-gradient-to-r
                    from-purple-400
                    via-pink-500
                    to-red-500
                    border-none
                    invisible
                    pl-8
                    m-0
                    h-full
                    anim
                  "
                  style="border-radius: 10px; width: 85%"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-col">
        <div class="flex flex-row justify-center">
          <h1
            id="educacion"
            class="
              text-5xl
              pt-10
              text-fuchsia
              font-medium
              md:text-6xl
              lg:text-8xl
              animate-pulse
            "
          >
            EDUCACION
          </h1>
        </div>
        <div class="flex flex-col items-center mt-5 mb-10">
          <div class="flex flex-row">
            <h2 class="text-white mb-3">
              LINEA DE CRECIMEINTO PROFESIONAL - SELECCIONA CADA SECCION EN LOS
              PUNTOS
            </h2>
          </div>
          <div class="w-full relative">
            <p
              id="activeLevel"
              class="
                bg-gradient-to-r
                from-purple-400
                via-pink-500
                to-red-500
                w-10
                h-10
                rounded-full
                absolute
                top-0
                left-0
                z-20
                transform
                border-10
              "
            ></p>
            <p
              id="level1"
              class="
                bg-white
                w-10
                h-10
                rounded-full
                absolute
                top-0
                left-0
                cursor-pointer
              "
              style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0)"
              (click)="LevelOne()"
            ></p>
            <p
              id="level2"
              class="
                bg-white
                w-10
                h-10
                rounded-full
                absolute
                top-0
                left-2/5
                md:left-1/2
                cursor-pointer
              "
              style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0)"
              (click)="LevelTwo()"
            ></p>
            <p
              id="level3"
              class="
                bg-white
                w-10
                h-10
                rounded-full
                absolute
                top-0
                right-0
                cursor-pointer
              "
              style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0)"
              (click)="LevelThree()"
            ></p>
            <p class="link-bottom mt-4"></p>
          </div>
        </div>

        <div class="relative">
          <div id="secondary-education" class="flex flex-col items-center">
            <section id="secondaryGalery">
              <img
                (click)="openLightBox('assets/img/fisico-matematico.png')"
                src="assets/img/fisico-matematico.png"
                alt=""
              />
              <img
                (click)="openLightBox('assets/img/auxiliar-computacion.png')"
                src="assets/img/auxiliar-computacion.png"
                alt=""
              />
            </section>
            <div class="flex flex-row justify-center">
              <h2
                class="
                  text-gray-500
                  pt-2
                  text-base
                  md:text-base
                  lg:text-xl
                  text-justify
                  md:ml-2
                  mb-4
                  mt-4
                "
              >
                La secundaria la curse en el Colegio Hermano Miguel de Latacunga
                en la especialidad de Físico Matemático, ademas del titulo
                normal de bachiller en dicha especialidad esta rama trae consigo
                una certificacion extra la cual consiste en una auxiliaria en
                equipos de computo gracias a materias como programación, diseño
                grafico y mantenimiento de computadoras que se impartía en ese
                momento en la institución.
              </h2>
            </div>
          </div>
          <div id="university" class="flex-col items-center hidden">
            <section id="secondaryGalery">
              <img
                (click)="openLightBox('assets/img/creditos.png')"
                src="assets/img/creditos.png"
                alt=""
              />
              <img
                (click)="openLightBox('assets/img/matricula.png')"
                src="assets/img/matricula.png"
                alt=""
              />
            </section>
            <div class="flex flex-row justify-center">
              <h2
                class="
                  text-gray-500
                  pt-2
                  text-base
                  md:text-base
                  lg:text-xl
                  text-justify
                  md:ml-2
                  mb-4
                  mt-4
                "
              >
                Actualmente me encuentro en noveno semestre de la carrera de
                Ing. en Sistemas Computacionales e Informáticos de la
                Universidad Técnica de Ambato con unicamente 3 materias en mi
                horario es decir unicamente tengo 2 horas de clases al dia de
                Lunes a Viernes el semestre concluye el 20 de agosto del 2021 en
                el cual pasaré a estar egresado de la carrera en espera de
                concluir el trabajo de grado (tesis).
              </h2>
            </div>
          </div>
          <div id="extra" class="flex-col items-center hidden">
            <section id="secondaryGalery">
              <img
                (click)="openLightBox('assets/img/EticalHacking.jpg')"
                src="assets/img/EticalHacking.jpg"
                alt=""
              />
              <img
                (click)="openLightBox('assets/img/AngularLegacy.jpg')"
                src="assets/img/AngularLegacy.jpg"
                alt=""
              />
            </section>
            <div class="flex flex-row justify-center">
              <h2
                class="
                  text-gray-500
                  pt-2
                  text-base
                  md:text-base
                  lg:text-xl
                  text-justify
                  md:ml-2
                  mb-4
                  mt-4
                "
              >
                Además de la educación formal soy un apasionado de aprender más
                acerca del desarrollo de software y buenas practicas, estos son
                dos ejemplos de cursos que he podido concluir pero tengo muchos
                más de estos los cuales se pueden observar en la siguiente
                sección.
              </h2>
            </div>
          </div>
          <section id="primary-container" class="">
            <div id="secondary-container">
              <img
                id="active-image"
                src="assets/img/fisico-matematico.png"
                alt=""
              />
              <button
                (click)="exit()"
                id="btn-exit"
                type="button"
                class="symbol"
              >
                '
              </button>
            </div>
          </section>
        </div>
      </div>
      <div class="flex flex-row justify-center">
        <h1
          id="certificaciones"
          class="
            text-5xl
            pt-10
            text-fuchsia
            font-medium
            md:text-4xl
            lg:text-6xl
          "
        >
          CERTIFICACIONES
        </h1>
      </div>
      <div class="flex flex-col items-center mt-5">
        <h3
          class="
            text-gray-500
            pt-2
            text-base
            md:text-base
            lg:text-xl
            text-justify
            md:ml-2
            mb-4
          "
        >
          En esta sección puedes observar todos los cursos que he podido
          concluir separados por tecnología.
        </h3>
      </div>
      <div class="flex flex-row mt-1 text-xs md:text-xl lg:text-2xl">
        <nav class="flex-1">
          <ul class="flex flex-row justify-end">
            <li class="item-header">
              <a (click)="FilterCertificates('Angular')">Angular</a>
            </li>
            <li class="item-header">
              <a (click)="FilterCertificates('html')">Html</a>
            </li>
            <li class="item-header">
              <a (click)="FilterCertificates('javascript')">Javascript</a>
            </li>
            <li class="item-header">
              <a (click)="FilterCertificates('Tailwind')">Tailwind</a>
            </li>
            <li class="item-header">
              <a (click)="FilterCertificates('Git')">Git</a>
            </li>
            <li class="item-header">
              <a (click)="FilterCertificates('personal')"
                >Desarrollo personal</a
              >
            </li>
          </ul>
        </nav>
      </div>
      <div class="flex flex-row text-xs mt-3 md:text-xl lg:text-2xl">
        <nav class="flex-1">
          <ul class="flex flex-row justify-end">
            <li class="item-header">
              <a (click)="FilterCertificates('redes')">Redes</a>
            </li>
            <li class="item-header">
              <a (click)="FilterCertificates('seguridad')">Seguridad</a>
            </li>
          </ul>
        </nav>
      </div>
      <div>
        <div class="flex flex-col items-center mt-10">
          <div
            *ngIf="!load"
            id="card-project"
            class="
              animate-enter-card
              relative
              w-screen45
              h-screen/3
              md:w-screen80 md:h-screen/2
              rounded-xl
              overflow-hidden
              flex flex-col
              items-center
              justify-center
            "
          >
            <h1 class="text-white">Cargando...</h1>
          </div>
          <div *ngIf="load" class="text-white">
            <h2 class="text-white md:mb-6">
              Numero de certificados: {{ certificates.length }}
            </h2>
          </div>
          <div
            *ngIf="load"
            id="card-project"
            class="
              animate-enter-card
              relative
              w-screen45
              h-screen/2
              md:w-screen80 md:h-screen60
              rounded-xl
              overflow-hidden
              flex flex-col
              items-center
              justify-center
            "
          >
            <div id="certificate" class="relative">
              <img
                src="{{ certificates[indexCertificate].source }}"
                (click)="openCertificate(certificates[indexCertificate].source)"
              />
              <button
                class="slider-button-right symbol absolute top-1/2"
                (click)="SiguienteImagen()"
              >
                >
              </button>
              <button
                class="slider-button-left symbol absolute top-1/2"
                (click)="AnteriorImagen()"
              >
                <
              </button>
            </div>
          </div>
        </div>
        <section id="primary-container-certificate">
          <div id="secondary-container-certificate">
            <img
              id="active-certificate"
              src="assets/img/AngularLegacy.jpg"
              alt=""
            />
            <button
              (click)="exitCertificate()"
              id="btn-exit"
              type="button"
              class="symbol"
            >
              '
            </button>
          </div>
        </section>
      </div>
      <div class="flex flex-row justify-center">
        <h1
          id="experiencia"
          class="
            text-5xl
            pt-10
            text-fuchsia
            font-medium
            md:text-6xl
            lg:text-8xl
            animate-pulse
          "
        >
          EXPERIENCIA
        </h1>
      </div>
      <div class="flex flex-col items-center mt-5 mx-10">
        <div class="flex flex-col md:flex-row items-center justify-center">
          <h1 class="text-gray-500 md:mr-4 mb-5 text-justify lg:text-2xl">
            En 2018 estuve realizando practicas durante 3 meses en la empresa
            SideSoft, esta empresa entre sus servicios se encontraba la
            contabilidad y facturación mediante el ERP OpenBravo, mi trabajo
            consistio en conectarme a la API de Openbravo mediante un POS
            llamado Unicenta para que las ventas realizadas en este POS se
            enviaran a la base de datos de Openbravo que funciona en postgress.
          </h1>
          <img
            class="w-screen/2 md:ml-10 cursor-pointer"
            src="https://res.cloudinary.com/latamarket/image/upload/v1626913162/WhatsApp_Image_2020-07-27_at_9.52.24_AM_4_mnni11.jpg"
            (click)="
              openCertificateXl(
                'https://res.cloudinary.com/latamarket/image/upload/v1626913162/WhatsApp_Image_2020-07-27_at_9.52.24_AM_4_mnni11.jpg'
              )
            "
          />
        </div>
      </div>
      <section id="primary-container-xl">
        <div id="secondary-container-xl">
          <img
            id="active-certificate-xl"
            src="assets/img/AngularLegacy.jpg"
            alt=""
          />
          <button
            (click)="exitCertificateXl()"
            id="btn-exit"
            type="button"
            class="symbol"
          >
            '
          </button>
        </div>
      </section>
      <div class="flex flex-row w-full my-12">
        <hr class="bg-white w-full h-1 rounded-sm" />
      </div>
      <div class="flex flex-col items-center mx-10">
        <div class="flex flex-col md:flex-row items-center justify-center">
          <h1 class="text-gray-500 md:mr-4 mb-5 text-justify lg:text-2xl">
            Desde el mes de agosto de 2020 hasta la actualidad estoy trabajando
            en el proyecto de un sistema de facturación para la empresa RedLab
            junto con el Ing. Diego Yanez
            <a class="text-blue-500" href="references">ver referencias</a>, el
            equipo de desarrollo esta conformado unicamente por el Ing. Diego
            Yanez y mi persona, en la actualidad el sistema se encuentra en modo
            producción por lo que los ultimos meses mi trabajo ha sido dar
            soporte a errores que puedan surgir en el mismo y monitorear la
            integridad de los datos en la base de datos, de momento los
            problemas que han surgido han sido minimos sin afectar a la
            integridad de los datos o el funcionamiento de la función principal
            del sistema el cual es la facturación electronica.
          </h1>
          <img class="w-screen/2 md:ml-10" src="assets/img/redlab.png" />
        </div>
      </div>
      <div class="flex flex-row w-full my-12">
        <hr class="bg-white w-full h-1 rounded-sm" />
      </div>
      <div class="flex flex-col items-center mx-10">
        <div class="flex flex-col md:flex-row items-center justify-center">
          <h1 class="text-gray-500 md:mr-4 mb-5 text-justify lg:text-2xl">
            En el mes de noviembre del 2020 fui contactado por la empresa
            Kengisoft por el Ing. Alex Aldana
            <a class="text-blue-500" href="references">ver referencias</a> para
            la realización de un sistema web de citas medicas para el Patronato
            Municipal de Latacunga mi propuesta en base al tiempo y el costo del
            proyecto fue utilizar la herramienta Wordpress la cual fue aprobada
            por Kengisoft y se envió una propuesta casi identica al Patronato
            Municipal de Latacunga la cual fue aprobada y se realizo el sistema
            en aproximadamente 2 meses.
          </h1>
          <img class="w-screen/2 md:ml-10" src="assets/img/patronato.jpg" />
        </div>
      </div>
      <div class="flex flex-row w-full my-12">
        <hr class="bg-white w-full h-1 rounded-sm" />
      </div>
      <div class="flex flex-col items-center mx-10">
        <div class="flex flex-col md:flex-row items-center justify-center">
          <h1 class="text-gray-500 md:mr-4 mb-5 text-justify lg:text-2xl">
            En el mes de Septiembre del 2020 fui contratado por la empresa
            marketzone para diseñar una tienda virtual en Wordpress para vender
            sus productos la cual fue entregada en aproximadamente 2 meses,
            luego de esto se entrego la API correspondiente para que la pagina
            se conecte a un sistema de facturacion y contabilidad que ellos
            disponen, actualmente los desarrolladores de este sistema se
            encuentran trabajando en la conexion mientras que mi trabajo en el
            diseño de la pagina esta finalizado.
          </h1>
          <img
            class="w-screen/2 md:ml-10"
            src="assets/img/MarketzonLogo600x250.png"
          />
        </div>
      </div>
      <div class="flex flex-row w-full my-12">
        <hr class="bg-white w-full h-1 rounded-sm" />
      </div>
      <div class="flex flex-col items-center mx-10">
        <div class="flex flex-col md:flex-row items-center justify-center">
          <h1 class="text-gray-500 md:mr-4 mb-5 text-justify lg:text-2xl">
            En el mes de abril de 2021 realice unas segundas practicas en el
            Vicerrectorado Administrativo de la Universidad Técnica de Ambato
            esta es una entidad que entre sus actividades tiene a su cargo la
            web institucional y sitios de las facultades, direcciones y centros
            de la Universidad Técnica de Ambato. Aquí estuve a cargo de la
            Diseñadora Gráfica Publicitaria María José Fonseca Córdova
            <a class="text-blue-500" href="references">ver referencias</a> y mi
            trabajo consistia en darle soporte a problemas relacionados con
            html, css o la plataforma de JOOMLA en cualquier problema de
            configuracion o nuevos plugins, pude agregar paginas informativas
            asi como funcionalidades extra dependiendo los requerimientos que la
            UTA enviaba a nuestro cargo.
          </h1>
          <img
            class="w-screen/2 md:ml-10"
            src="https://res.cloudinary.com/latamarket/image/upload/v1626509308/uta1_ppdmdy.png"
          />
        </div>
      </div>
      <div class="flex flex-row w-full my-12">
        <hr class="bg-white w-full h-1 rounded-sm" />
      </div>
      <div class="flex flex-col items-center mx-10">
        <div class="flex flex-col md:flex-row items-center justify-center">
          <h1 class="text-gray-500 md:mr-4 mb-5 text-justify lg:text-2xl">
            A lo largo de 2020 y 2021 me he dedicado a realizar proyectos
            universitarios en su mayoria con Angular como por ejemplo la tienda
            virtual Pa Tu Casa realizada en Angular y Firebase.
          </h1>
          <img
            class="w-screen/2 md:ml-10"
            src="https://res.cloudinary.com/latamarket/image/upload/v1627024025/estudiante2_xg6qsl.png"
          />
        </div>
      </div>
      <br />
      <br />
      <br />
    </div>
  </div>
  <div class="relative h-screen md:h-screen">
    <app-footer></app-footer>
  </div>
</div>
