<div class="">
  <div
    class="
      flex flex-col
      md:flex-row-reverse md:items-center md:h-screen md:mt-0
      justify-center
      items-start
      md:ml-14
      mx-10
      mt-20
    "
  >
    <div
      id="card-project"
      class="
        animate-enter-card
        relative
        w-full
        h-screen/4
        md:h-screen70 md:w-3/5
        rounded-xl
        overflow-hidden
        flex flex-col
        items-center
        justify-center
        bg-banner-proyecto bg-no-repeat bg-center bg-cover
      "
      *ngIf="imageBanner == true"
    >
      <button class="slider-button-right symbol" (click)="SiguienteImagen()">
        >
      </button>
      <button class="slider-button-left symbol" (click)="AnteriorImagen()">
        <
      </button>
    </div>
    <div
      id="card-project"
      class="
        animate-enter-card
        relative
        w-full
        h-screen/4
        md:h-screen70 md:w-3/5
        rounded-xl
        overflow-hidden
        flex flex-col
        items-center
        justify-center
        bg-banner-proyecto-login bg-no-repeat bg-center bg-contain
      "
      *ngIf="imageLogin == true"
    >
      <button class="slider-button-right symbol" (click)="SiguienteImagen()">
        >
      </button>
      <button class="slider-button-left symbol" (click)="AnteriorImagen()">
        <
      </button>
      <button class="slider-button" routerLink="/project">Ver mas</button>
    </div>
    <div
      id="card-project"
      class="
        animate-enter-card
        relative
        w-full
        h-screen/4
        md:h-screen70 md:w-3/5
        rounded-xl
        overflow-hidden
        flex flex-col
        items-center
        justify-center
        bg-banner-proyecto-principal bg-no-repeat bg-center bg-contain
      "
      *ngIf="imagePrincipal == true"
    >
      <button class="slider-button-right symbol" (click)="SiguienteImagen()">
        >
      </button>
      <button class="slider-button-left symbol" (click)="AnteriorImagen()">
        <
      </button>
      <button class="slider-button" routerLink="/project">Ver mas</button>
    </div>

    <div class="relative -mt-10 -ml-5 md:m-20">
      <div id="about-title-project" class="animate-left-to-right">
        <h1 class="text-5xl font-semibold md:text-7xl">Proyectos</h1>
      </div>
      <div>
        <p
          id="first-line-about-project"
          class="color-lines h-0.5 w-12 rounded-md mt-6"
        ></p>
        <p
          id="second-line-about-project"
          class="color-lines h-0.5 w-12 rounded-md mt-3 ml-6"
        ></p>
      </div>
      <div id="subtitle-about-project" class="flex flex-col">
        <h1
          class="
            text-xs
            md:text-base
            mt-4
            font-light
            md:mr-10 md:max-w-lg
            text-justify
          "
        >
          Como desarrollador he realizado varios proyectos entre ellos se
          encuentra un sistema hecho para laboratorios RedLab el mismo que
          realiza facturacion electronica y la contabilidad de la empresa, fue
          realizado en Angular para el Front-End y Nodejs para el Back-End.
        </h1>
        <button
          class="
            md:mt-10
            m-4
            mx-20
            text-base
            md:text-lg
            font-normal
            button-color
            p-1
            rounded-3xl
          "
        >
          Ver mas proyectos
        </button>
      </div>
    </div>
  </div>
</div>
