.slider-button-right {
  @apply absolute right-0 text-xs mr-2 rounded-full h-6 w-6 flex font-light  items-center justify-center opacity-70 transform hover:scale-125 cursor-pointer transition duration-300;
  background-color: #fe5757;
}

.slider-button-left {
  @apply absolute left-0 text-xs ml-2 rounded-full h-6 w-6 flex font-light  pr-1 items-center justify-center opacity-70 transform hover:scale-125 cursor-pointer transition duration-300;
  background-color: #fe5757;
}

.slider-button {
  @apply absolute bottom-0 text-lg px-3 mb-36 rounded-full flex font-light items-center justify-center transform hover:scale-125 cursor-pointer transition duration-300;
  background-color: #fe5757;
}

.button-color {
  background-color: #fe5757;
}
.color-lines {
  background-color: #fe5757;
}
