<div class="flex justify-center md:items-center md:inset-2 md:absolute">
  <ul class="flex flex-row md:flex-col">
    <div class="my-2">
      <img
        *ngIf="start === 'true'"
        src="../../../assets/img/BotonDeUso.png"
        class="w-6 mx-2"
      />
      <img
        *ngIf="start === 'false'"
        src="../../../assets/img/BotonSinUso.png"
        class="w-6 mx-2"
        (click)="MoveScreen('start')"
      />
    </div>
    <div class="my-2">
      <img
        *ngIf="about === 'true'"
        src="../../../assets/img/BotonDeUso.png"
        class="w-6 mx-2"
      />
      <img
        *ngIf="about === 'false'"
        src="../../../assets/img/BotonSinUso.png"
        class="w-6 mx-2"
        (click)="MoveScreen('about')"
      />
    </div>

    <div class="my-2">
      <img
        *ngIf="projects === 'true'"
        src="../../../assets/img/BotonDeUso.png"
        class="w-6 mx-2"
      />
      <img
        *ngIf="projects === 'false'"
        src="../../../assets/img/BotonSinUso.png"
        class="w-6 mx-2"
        (click)="MoveScreen('projects')"
      />
    </div>
    <div class="my-2">
      <img
        *ngIf="contact === 'true'"
        src="../../../assets/img/BotonDeUso.png"
        class="w-6 mx-2"
      />
      <img
        *ngIf="contact === 'false'"
        src="../../../assets/img/BotonSinUso.png"
        class="w-6 mx-2"
        (click)="MoveScreen('contact')"
      />
    </div>
  </ul>
</div>
