<div class="absolute bottom-2 right-28">
  <ul class="flex flex-row">
    <img
      src="../../../assets/img/BotonDeUso.png"
      class="w-6 mx-2"
      (click)="MoveScreen('start')"
    />
    <img
      src="../../../assets/img/BotonSinUso.png"
      class="w-6 mx-2"
      (click)="MoveScreen('about')"
    />
    <img
      src="../../../assets/img/BotonSinUso.png"
      class="w-6 mx-2"
      (click)="MoveScreen('projects')"
    />
    <img
      src="../../../assets/img/BotonSinUso.png"
      class="w-6 mx-2"
      (click)="MoveScreen('contact')"
    />
  </ul>
</div>
