<div
  class="
    bg-fondo-espacio
    fondo
    animate-bg-fondo-espacio
    bg-contain
    overflow-auto
    h-screen
  "
>
  <div><app-header></app-header></div>
  <div class="mt-28 mx-12" *ngFor="let proyecto of proyectos; let i = index">
    <div class="flex flex-row justify-center animate-bounce">
      <h1 class="text-6xl md:text-8xl text-fuchsia text-center">
        {{ proyecto.nombre }}
      </h1>
    </div>
    <div class="flex flex-row justify-center">
      <h1 class="text-xl md:text-4xl text-fuchsia text-center">
        Tecnología:&nbsp;
      </h1>
      <h1 class="text-xl md:text-4xl text-white text-center">
        {{ proyecto.tecnologia }}
      </h1>
    </div>
    <div class="flex flex-col pt-10">
      <div class="flex flex-col md:flex-row justify-center items-center">
        <div>
          <h1 class="text-lg text-white text-justify mb-10 md:mb-0 md:mr-16">
            {{ proyecto.descripcion }}
          </h1>
        </div>
        <section id="galeria">
          <img
            id="{{ proyecto.img_1 }}"
            (click)="openLightbox(proyecto.img_1, i)"
            src="{{ proyecto.img_1 }}"
            alt="galeria de imagenes"
          />
          <img
            id="{{ proyecto.img_2 }}"
            (click)="openLightbox(proyecto.img_2, i)"
            src="{{ proyecto.img_2 }}"
            alt="galeria de imagenes"
          />
          <img
            id="{{ proyecto.img_3 }}"
            (click)="openLightbox(proyecto.img_3, i)"
            src="{{ proyecto.img_3 }}"
            alt="galeria de imagenes"
          />
          <img
            id="{{ proyecto.img_4 }}"
            (click)="openLightbox(proyecto.img_4, i)"
            src="{{ proyecto.img_4 }}"
            alt="galeria de imagenes"
          />
        </section>

        <section id="primary-container">
          <div id="internal-container">
            <img
              id="active-image"
              src="{{ proyecto.img_1 }}"
              alt="galeria de imagenes"
            />
            <button
              id="btn-exit"
              class="symbol"
              (click)="exitLightBox()"
              type="button"
            >
              '
            </button>
            <button
              id="btn-behind"
              class="symbol"
              (click)="PreviousImage(i)"
              type="button"
            >
              <
            </button>
            <button
              id="btn-next"
              class="symbol"
              (click)="NextImage(i, proyecto.nombre)"
              type="button"
            >
              >
            </button>
          </div>
        </section>
      </div>
    </div>
    <div class="mt-10 flex flex-col items-center">
      <h2 class="text-fuchsia text-2xl mb-2">Enlace (página oficial)</h2>
      <a
        class="text-blue-500 text-sm md:text-xl"
        href="{{ proyecto.enlace }}"
        >{{ proyecto.enlace }}</a
      >
      <a class="text-white" *ngIf="!proyecto.enlace"
        >Proyecto privado de la empresa, pronto se subira un DEMO.</a
      >
    </div>
  </div>
  <div class="relative h-screen md:h-screen">
    <app-footer></app-footer>
  </div>
</div>
