<div
  class="
    bg-fondo-espacio
    fondo
    animate-bg-fondo-espacio
    bg-contain
    overflow-auto
    h-screen
  "
>
  <div><app-header></app-header></div>
  <div class="mt-28" *ngFor="let proyecto of proyectos; let i = index">
    <div class="flex flex-row justify-center animate-bounce">
      <h1 class="text-8xl text-fuchsia">{{ proyecto.nombre }}</h1>
    </div>
    <div class="flex flex-col pt-10">
      <div class="flex flex-row justify-center items-center">
        <div>
          <h1 class="text-sm text-white">{{ proyecto.descripcion }}</h1>
        </div>
        <section id="galeria">
          <img
            id="{{ proyecto.img_1 }}"
            (click)="openLightbox(proyecto.img_1, i)"
            src="{{ proyecto.img_1 }}"
            alt="galeria de imagenes"
          />
          <img
            id="{{ proyecto.img_2 }}"
            (click)="openLightbox(proyecto.img_2, i)"
            src="{{ proyecto.img_2 }}"
            alt="galeria de imagenes"
          />
          <img
            id="{{ proyecto.img_3 }}"
            (click)="openLightbox(proyecto.img_3, i)"
            src="{{ proyecto.img_3 }}"
            alt="galeria de imagenes"
          />
          <img
            id="{{ proyecto.img_4 }}"
            (click)="openLightbox(proyecto.img_4, i)"
            src="{{ proyecto.img_4 }}"
            alt="galeria de imagenes"
          />
        </section>
        <section id="primary-container">
          <div id="internal-container">
            <img
              id="active-image"
              src="{{ proyecto.img_1 }}"
              alt="galeria de imagenes"
            />
            <button
              id="btn-exit"
              class="symbol"
              (click)="exitLightBox()"
              type="button"
            >
              '
            </button>
            <button
              id="btn-behind"
              class="symbol"
              (click)="PreviousImage(i)"
              type="button"
            >
              <
            </button>
            <button
              id="btn-next"
              class="symbol"
              (click)="NextImage(i, proyecto.nombre)"
              type="button"
            >
              >
            </button>
          </div>
        </section>
      </div>
    </div>
    <!-- <div class="flex flex-row justify-center animate-bounce">
      <h1 class="text-8xl text-fuchsia">Proyecto RedLab</h1>
    </div>
    <div class="flex flex-col pt-10">
      <div class="flex flex-row justify-center items-center">
        <div>
          <h1 class="text-8xl text-white">Hola</h1>
        </div>
        <section id="galeria">
          <img
            id="imagen1"
            (click)="openLightbox('imagen1')"
            src="https://res.cloudinary.com/latamarket/image/upload/v1626237474/marketzone1_lxvwak.png"
            alt="galeria de imagenes"
          />
          <img
            id="imagen2"
            (click)="openLightbox('imagen2')"
            src="https://res.cloudinary.com/latamarket/image/upload/v1626237474/marketzone1_lxvwak.png"
            alt="galeria de imagenes"
          />
          <img
            id="imagen3"
            (click)="openLightbox('imagen3')"
            src="https://res.cloudinary.com/latamarket/image/upload/v1626237474/marketzone1_lxvwak.png"
            alt="galeria de imagenes"
          />
          <img
            id="imagen4"
            (click)="openLightbox('imagen4')"
            src="https://res.cloudinary.com/latamarket/image/upload/v1626237474/marketzone1_lxvwak.png"
            alt="galeria de imagenes"
          />
        </section>

        <section id="primary-container">
          <div id="internal-container">
            <img
              id="active-image"
              src="https://res.cloudinary.com/latamarket/image/upload/v1626226214/redlabimg1_uou083.png"
              alt="galeria de imagenes"
            />
            <button
              id="btn-exit"
              class="symbol"
              (click)="exitLightBox()"
              type="button"
            >
              '
            </button>
            <button
              id="btn-behind"
              class="symbol"
              (click)="PreviousImage()"
              type="button"
            >
              <
            </button>
            <button
              id="btn-next"
              class="symbol"
              (click)="NextImage()"
              type="button"
            >
              >
            </button>
          </div>
        </section>
      </div>
    </div> -->
  </div>
</div>
