<div class="">
  <div class="flex flex-col justify-center items-start md:ml-14 mx-10 mt-16">
    <div
      class="
        animate-card
        relative
        w-full
        color
        rounded-xl
        overflow-hidden
        flex flex-col
        items-center
        justify-center
        bg-luna bg-no-repeat bg-center bg-cover
      "
    ></div>
    <div class="relative -mt-10 -ml-5">
      <div class="animate-left-to-right">
        <h1 class="text-5xl font-semibold">Acerca de mi</h1>
      </div>
      <div>
        <p
          class="color-lines h-0.5 w-12 rounded-md mt-6 animate-left-to-right"
        ></p>
        <p
          class="
            color-lines
            h-0.5
            w-12
            rounded-md
            mt-3
            animate-left-to-right_1s
            ml-6
          "
        ></p>
      </div>
      <div class="flex flex-col animate-left-to-right">
        <h1 class="text-base mt-4 font-light">
          Soy una persona que ama aprender acerca de tecnologia y el desarrollo
          de software.
        </h1>
        <button
          class="mt-5 mx-28 text-lg font-normal button-color p-2 rounded-3xl"
        >
          Ver mas
        </button>
      </div>
    </div>
  </div>
</div>
