<div class="">
  <div class="flex flex-col justify-center items-start md:ml-14 mx-16 mt-16">
    <div
      class="
        relative
        w-full
        color
        rounded-xl
        overflow-hidden
        flex flex-col
        items-center
        justify-center
        bg-luna bg-no-repeat bg-center bg-cover
      "
    ></div>
    <div class="relative -mt-12 -ml-5">
      <div>
        <h1 class="text-5xl">Acerca de mi</h1>
      </div>
      <div>
        <p class="bg-blue-400 h-1 w-16 rounded-md mt-2"></p>
        <p class="bg-blue-400 h-1 w-16 rounded-md mt-2 ml-8"></p>
      </div>
      <div>
        <h1 class="text-2xl">Soy un amante de la tecnología</h1>
      </div>
    </div>
  </div>
</div>
