<div class="flex flex-col md:flex-row-reverse md:justify-end pt-12">
  <div class="">
    <img
      src="../../../assets/img/Astro.png"
      class="
        absolute
        invisible
        md:visible md:bottom-0 md:right-0
        lg:w-1/3
        md:w-1/2
        animate-rigth-to-left
      "
      id="astro"
    />
  </div>
  <div
    class="
      flex flex-col
      lg:items-start lg:pl-40
      absolute
      inset-2
      justify-start
      pt-16
      md:pb-0
      lg:justify-center
      md:items-center md:justify-center
      animate-left-to-right
    "
    id="data"
  >
    <div
      class="
        flex flex-col
        md:absolute md:left-28
        items-center
        justify-center
        top-24
        md:top-auto
        lg:top-auto lg:left-28
        xl:left-44
      "
    >
      <div class="flex flex-col lg:flex-row">
        <div class="flex flex-col lg:items-start items-center">
          <h1
            id="nombre"
            class="text-white text-7xl lg:text-8xl xl:text-9xl font-bold"
          >
            DANIEL
          </h1>
          <h1
            class="text-7xl lg:text-8xl xl:text-9xl font-bold text-yellow-400"
          >
            TAPIA
          </h1>
        </div>
        <div>
          <p class="link-right ml-8 invisible lg:visible"></p>
          <p
            class="link-bottom mb-2 md:mt-4 visible lg:invisible md:absolute"
          ></p>
        </div>
        <div
          class="
            lg:ml-8 lg:pt-0
            flex flex-col
            md:justify-center
            items-center
            md:pt-8
            lg:items-start
          "
        >
          <h1
            class="
              text-white text-3xl
              mt-2
              md:mt-0
              lg:text-3xl
              xl:text-4xl
              font-medium
            "
          >
            Desarrollador web
          </h1>
          <h1 class="text-3xl lg:text-3xl xl:text-4xl font-medium text-white">
            Front-End/Back-End
          </h1>
        </div>
      </div>
      <div class="flex flex-row justify-center mt-8">
        <h1 class="text-4xl xl:text-5xl font-medium lg:pl-20 text-white">
          PORTAFOLIO
        </h1>
      </div>
    </div>
  </div>
</div>
