<div class="flex flex-col md:flex-row-reverse md:justify-end pt-12">
  <div class="flex flex-col items-center">
    <img
      src="../../../assets/img/Astro.png"
      class="absolute bottom-0 right-0 w-1/3 animate-rigth-to-left"
      alt=""
    />
  </div>
  <div
    class="
      flex flex-col
      items-start
      pl-40
      md:inset-2 md:absolute md:justify-center
      animate-left-to-right
    "
  >
    <div class="flex flex-row">
      <div>
        <h1 class="text-white text-9xl font-bold">DANIEL</h1>
        <h1 class="text-9xl font-bold text-yellow-400">TAPIA</h1>
      </div>
      <div>
        <p class="link-right ml-14"></p>
      </div>
      <div class="ml-14 flex flex-col justify-center">
        <h1 class="text-white text-4xl font-medium">Desarrollador web</h1>
        <h1 class="text-4xl font-medium text-white">Front-End/Back-End</h1>
      </div>
    </div>
  </div>
</div>
