@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* You can add global styles to this file, and also import other style files */

/* Fuentes */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Sansita+Swashed:wght@300&display=swap");

@font-face {
  font-family: "TrebuchetMS";
  src: url("assets/fonts/TrebuchetMS.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BebasNeue";
  src: url("assets/fonts/BebasNeue.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "WebSymbolsRegular";
  src: url("assets/fonts/websymbols-regular-webfont.eot");
  src: url("assets/fonts/websymbols-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/websymbols-regular-webfont.woff") format("woff"),
    url("assets/fonts/websymbols-regular-webfont.ttf") format("truetype"),
    url("assets/fonts/websymbols-regular-webfont.svg#WebSymbolsRegular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

.symbol {
  font-family: "WebSymbolsRegular";
}

.bebas {
  font-family: "BebasNeue";
}

.trebuchet {
  font-family: "TrebuchetMS";
}

body {
  background-color: black;
}
