<footer class="flex flex-col w-full posicion z-0">
  <!-- <div class="flex flex-row justify-center mb-1">
    <img class="w-6 mr-2" src="../../../assets/img/whatsapp.png" />
    <h1 class="text-yellow-300">0987408783</h1>
  </div>
  <div class="flex flex-row justify-center">
    <img class="w-6 mr-2" src="../../../assets/img/mail-inbox-app.png" />
    <h1 class="text-yellow-300">d.tapialopez1@gmail.com</h1>
  </div> -->

  <h1 class="text-9xl text-white">Contact</h1>
  <img class="" src="../../../assets/img/EartWallpaper.png" alt="" />
</footer>
